.bg-primary {
  background-color: $color-primary;
}

.bg-info {
  background-color: $color-info;
}

.bg-success {
  background-color: $color-success;
}

.bg-warning {
  background-color: $color-warning;
}

.bg-danger {
  background-color: $color-danger;
}

.text-muted {
  color: $gray;
}

.text-white {
  color: $color-white;
}

.text-primary {
  color: $color-primary;
}

.text-info {
  color: $color-info;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.text-danger {
  color: $color-danger;
}

