.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include clearfix;
}

.row {
  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;

  @include clearfix;

  &.no-gutter {
    margin-left: 0;
    margin-right: 0;

    @include make-grid-columns-without-gutter();
  }
}

@include make-grid-columns();

@media (min-width: 576px) {
  @include loop-grid-columns(12);
  @include loop-grid-columns(10);
  @include loop-grid-columns-equal(12);
  @include make-grid-columns-float()
}